[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "st/aur/st"]
	path = st/aur/st
	url = https://github.com/personinblack/st
[submodule "dwm/aur/dwm"]
	path = dwm/aur/dwm
	url = https://github.com/personinblack/dwm
