Xft.dpi: 75
Xft.antialias:  1
Xft.autohint:   0
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba: rgb

! Original Colors !

!*.borderColor:  #000000
!*.background:   #000000
!*.foreground:   #888888
!*.cursorColor:  #60463b

! Black
!*.color0:       #000000
!*.color8:       #1e1917

! Red
!*.color1:       #91171f
!*.color9:       #dd1c1a

! Green
!*.color2:       #7fb800
!*.color10:      #3f7d20

! Yellow
!*.color3:       #e9ce2c
!*.color11:      #fff275

! Blue
!*.color4:       #37718e
!*.color12:      #1d4e89

! Magenta
!*.color5:       #f991cc
!*.color13:      #e2afde

! Cyan
!*.color6:       #00b2ca
!*.color14:      #68c5db

! White
!*.color7:       #ffffff
!*.color15:      #dddbf1
