/*
 * Move the hamburger menu to the top left, before the first tab
 *
 * Contributor(s): Alex Vallat
 */

#PanelUI-button {
    border-left: none !important;
    position: absolute;
    margin-top: -30px;
}

:root[uidensity=compact] #PanelUI-button {
    margin-top: -28px;
}

:root[uidensity=touch] #PanelUI-button {
    margin-top: -36px;
}

#tabbrowser-tabs {
    /* Move the other elements to the right */
    margin-left: 30px;
}


/*
* Makes urlbar and many other things sharper on the edges
*
* Contributor(s): DrPugsley
*/

:root {
    --toolbarbutton-border-radius: 0px !important;
}

/*
* Makes the address bar and search bar borderless.
* Use the default white theme for an Edge-like look or in VivaldiFox with page colors applied
* on toolbar fields for a seamless one-color look.
*
* Contributor(s): Madis0
*/

#urlbar, .searchbar-textbox {
    border: none !important;
    box-shadow: none !important;
}

/*
*
* Custom CSS Start
*
*/

/* #page-action-buttons {
    display: none;
} */

/* Active Tabs */
.tabbrowser-tab {
    font-size: 12px;
}

#back-button, #forward-button {
    display: none;
}

/* SSL Box */
#identity-box {
    outline: none !important;
    margin-left: 10px;
}

/* SSL Icon Removal */
#identity-icon {
    opacity: 0;
    width: 0 !important;
}

/* SSL Text Removal */
#identity-icon-label, #identity-icon-country-label {
    display: none;
}

/* URL Bar Border Removal */
#urlbar {
    margin: 0px !important;
}

#identity-icon, #tracking-protection-icon, #connection-icon, .notification-anchor-icon,
#blocked-permissions-container > .blocked-permission-icon, #extension-icon {
    margin-inline-start: 0.1px !important;
}

/* Remove The Little Space Between Tabs */
.tabbrowser-tab{
    margin-left: -1px !important;
}

.tabbrowser-tab::after {
    opacity: 0 !important;
}

/* Next And Previous Buttons Fix */

.findbar-find-next{
    background: none !important;
    border: none !important;
}
.findbar-find-previous{
    background: none !important;
    border: none !important;
}

/*
*
* Colors Start
*
*/

#urlbar {
    background-color: #020202 !important;
    color: #777777 !important;
}

#PanelUI-menu-button, .tabs-newtab-button, #tabbrowser-tabs, #TabsToolbar {
    background-color: #020202 !important;
    color: #777777 !important;
}

#nav-bar {
    color: #777777 !important;
    background: #020202 !important;
}

/* Current Tab */
.tab-content[selected="true"] {
    background-color: #222222 !important;
    color: #777777 !important;
}

/* Other Tabs */
.tab-content {
    background-color: #020202 !important;
    color: #636363 !important;
}


.browserContainer > findbar {
    background-color: #020202 !important;
}

.findbar-container, .findbar-closebutton {
    color: #777777 !important;
}

.findbar-textbox {
    border: none !important;
    background-color: #131313 !important;
    color: #777777 !important;
}

#TabsToolbar {
    -moz-appearance: none !important;
}
